/* Kevin Powell Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2a44;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: 100vh;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Colors:
🟢 Core Colors:
• Background - Midnight Blue - #1c2a44 - Dark, Horror Aesthetic
• Headings & Titles: Muted Neon Yellow (#D4D400) – For that eerie, classic horror movie poster look.
• Main Backgrounds - Soft White (#F8F8F2 for blog posts, etc. #faf3e0 (more parchment-like) for forms
• Logos/Accents: Toxic Green (#39FF14 or #00FF00) - For glowing text, buttons, and sci-fi energy.
• Error or Urgent Callouts: Blood Orange (#FF5F1F) - Horror/scientific urgency (error messages, warnings, or subtle highlights).
• Dark UI Elements, to prevent neon overload - Steel Gray (#1C1C1C or #444444);
• Deep Black (#0A0A0A or #121212) – Write posts with this. For high contrast, terminal-like aesthetics, and a “cyber” vibe.

🔵 Secondary Cyber Accents (Optional):
Deep Cyan (#00FFFF or #00B7EB) – For that Tron-like cyberpunk glow.
Electric Purple (#6A0DAD or #8B5CF6) – Can be used in subtle areas to mix sci-fi mystery into the palette.
*/

/* Fonts 
Rockwell Extra Bold
*/

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.main {
  background-color: #faf3e0; /**/
  width: 75%;
  display: flex;
}

.main-right {
  flex: 1;
  /* padding: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Space Grotesk";
}

.main-right > p {
  color: #121212;
  font-size: 1.5rem;
  padding: 3rem;
}

.main-right > form {
  background-color: #ffffff;
  width: 100%;
  gap: 1rem;
  padding: 1rem 3rem;
}

form > legend {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  gap: 4rem;
  margin-bottom: 0.75rem;
}

.form-element {
  display: flex;
  flex-direction: column;
}
